@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'pixel-retroui/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }


  

  @keyframes spin-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-border linear infinite;
  }

  @keyframes growShrink {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(2.1); /* Grow the avatar */
    }
    100% {
      transform: scale(2); /* Shrink back */
    }
  }
  
  body {
    background-color: #f3f8f6; /* Replace with your desired color */
    margin: 0;                /* Removes default margins */
    padding: 0;               /* Removes default paddings */
    
}

.modal-size {
  width: 400px;
  height: 300px;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {

  [dir="rtl"] {
    .flex-row-adaptive {
      @apply flex-row-reverse;
    }

    input, textarea {
      @apply text-right;
      padding-inline: 1rem;
    }

    .text-adaptive {
      @apply text-right;
    }
  }

  [dir="ltr"] {
    .flex-row-adaptive {
      @apply flex-row;
    }

    input, textarea {
      @apply text-left;
      padding-inline: 1rem;
    }

    .text-adaptive {
      @apply text-left;
    }
  }

  body {
    @apply bg-primary-purple uppercase;
  }

  /* Typography */
  h1 {
    @apply text-3xl font-satisfy text-black;
  }

  h2 {
    @apply text-2xl font-satisfy text-black;
  }

  h3 {
    @apply text-xl font-satisfy text-black;
  }

  p {
    @apply text-sm leading-relaxed text-black uppercase;
  }

  /* Links */
  a {
    @apply text-black transition-colors;
  }

  span {
    @apply text-gray-800 uppercase text-sm
  }
  
  input {
    @apply w-full border-none rounded-xl py-3 pl-4 focus:ring-4 focus:outline-none uppercase;
  }

  /* Add this new style for placeholders */
  input::placeholder {
    @apply uppercase;
  }

  label{
    @apply text-black uppercase
  }

  input{
    @apply w-full border-none rounded-xl py-3 pl-4 focus:ring-4 focus:outline-none bg-primary-yellow
  }

  button{
    @apply w-full rounded-full px-4 py-2 h-14;
    @apply hover:scale-105 transition-all duration-200 transform;
    @apply bg-primary-yellow;
    @apply text-black uppercase
  }

  button:disabled {
    @apply hover:scale-100;
  }


}

@layer components {
  button.secondary{
    @apply bg-primary-green
  }

  .err{
    @apply text-red-600 font-regular 
  }

}

.lang-selector-button {
  @apply flex items-center gap-2 px-3 py-2 bg-white rounded-lg shadow-md hover:bg-gray-50;
}

.lang-selector-item {
  @apply w-full flex items-center gap-2 px-3 py-2 hover:bg-gray-50;
}
