@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'pixel-retroui/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); 

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  @keyframes spin-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-border linear infinite;
  }

  @keyframes growShrink {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(2.1); /* Grow the avatar */
    }
    100% {
      transform: scale(2); /* Shrink back */
    }
  }
  
  body {
    background-color: #f3f8f6; /* Replace with your desired color */
    margin: 0;                /* Removes default margins */
    padding: 0;               /* Removes default paddings */
    
}

.modal-size {
  width: 400px;
  height: 300px;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@layer base {
  body {
    @apply bg-primary-purple
  }

  /* Typography */
  h1 {
    @apply text-4xl font-satisfy text-black mb-6;
  }

  h2 {
    @apply text-3xl font-satisfy  text-black mb-4;
  }

  h3 {
    @apply text-2xl font-satisfy  text-black mb-3;
  }

  p {
    @apply text-gray-800 leading-relaxed  text-black mb-4;
  }

  /* Links */
  a {
    @apply   text-black transition-colors;
  }

  span {
    @apply text-gray-800
  }


}

@layer components {
  .btn {
    @apply bg-primary-pink text-white px-4 py-2 rounded-md;
  }

  .btn-secondary {
    @apply bg-primary-blue text-white px-4 py-2 rounded-md;
  }
}
